.header {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid rgb(200, 197, 197);
}

.header-button > img {
    height: 30px;
}